@(myForm: Form[form.RegisterForm])
@implicitField = @{ helper.FieldConstructor(forms.text.f) }
<script src="@routes.Assets.at("javascripts/register.js")" type="text/javascript"></script>
<h1>Register</h1>
@helper.form(action = routes.Register.submit()) {
	<h4>Basic Stuff</h4>
	<fieldset class="section section-basic">
		@helper.inputText(myForm("firstname"), '_label -> "First Name", 'autofocus -> "yes")
		@helper.inputText(myForm("lastname"), '_label -> "Last Name")
		@helper.inputText(myForm("email"), '_label -> "Email")
	</fieldset>
	<h4>Password</h4>
	<fieldset class="section section-basic">
		@helper.inputPassword(myForm("password"), '_label -> "Password")
		@helper.inputPassword(myForm("password2"), '_label -> "Confirm Password")
	</fieldset>
	<h4>Demographics</h4>
	<fieldset class="section">
		@forms.date("dob", myForm, '_label -> "Date of Birth")
		@forms.radioGroup(myForm("gender"), Seq("1" -> "Male", "2" -> "Female", "3" -> "Not Specified"), '_label -> "Gender")
		@forms.select(myForm("timezone"), Timezones.getKeys().toSeq, Timezones.getSelect().toSeq, '_label -> "Timezone")
	</fieldset>
	<h4>Are you human?</h4>
	<fieldset class="section">
		@Html(net.tanesha.recaptcha.ReCaptchaFactory.newReCaptcha("6Ld9NdwSAAAAAK4W5rhV9Klktk52FXb5rfQ0wwUd", "6Ld9NdwSAAAAAGD6N9OAF6NO3dQkg2RcpHawID0w", false).createRecaptchaHtml(null, null))
	</fieldset>
	<h4></h4>
	<fieldset class="section">
		<input type="submit" name="submit" value="Register" />
	</fieldset>
}
