@(request: play.api.mvc.RequestHeader, startForm: play.api.data.Form[String])

@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(views.html.auth.inputFieldConstructor.f) }

@main( Messages("securesocial.signup.title") ) {
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">@Messages("securesocial.signup.title")</h1>
		</div>
		<div class="panel-body">
			@request.flash.get("error").map { msg =>
				<div class="alert alert-danger">
					@Messages(msg)
				</div>
			}

			<form action="@securesocial.core.providers.utils.RoutesHelper.handleStartSignUp().absoluteURL(IdentityProvider.sslEnabled)(request)" class="form-horizontal" autocomplete="off" method="post" role="form">
				<fieldset>
					@helper.inputText(
						startForm("email"),
						'_label -> Messages("securesocial.signup.email1"),
						'class -> "form-control"
					)

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-primary">@Messages("securesocial.signup.createAccount")</button>
							<a class="btn btn-default" href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
}
